/*********
*drawde*
**********/

body, html{
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

/************************** HEADER ******************************/

.panel_up{
    background: #48251a;
    border-top: 1px dashed white;
    height: 4px;
    width: 100%;
}

header{
    background: -moz-linear-gradient(top, #dbe0e2 0%, #e7e9ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbe0e2), color-stop(100%,#e7e9ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dbe0e2 0%,#e7e9ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dbe0e2 0%,#e7e9ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dbe0e2 0%,#e7e9ea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dbe0e2 0%, #e7e9ea 100%); /* W3C */
    border-bottom: 1px solid white;
    height: 165px;
    width: 100%;
}

#header_all{
    margin: auto;
    width: 973px;
}

/************************** SOCIAL E IDIOMA ******************************/

#header_social{
    height: 20px;
    margin: 0;
}

.header_phrase{
    display: inline-block;
    vertical-align: top;
}

#idioma ul{
    margin-left: -6px;
}

#idioma ul li{
    display: inline-block;
    margin-right: 15px;
}


#idioma ul li a{
    cursor: pointer;
    padding: 0 6px 0px 6px;
}

#idioma ul li a:hover{
    border-bottom: 2px solid;
}

#social{
    float: right;
    margin-top: 6px;
}

/************************** LOGO ******************************/

.logo{
    height: 94px;
    margin: auto auto 20px;
    width: 210px;
}

.logo img{
    height: 100%;
    width: 100%;
}

/************************** MENU ******************************/

nav{
    margin: auto;
}

nav ul{

}

nav ul li{
    display: inline-block;
    margin: 0px 39px;
    vertical-align: top;
}

nav ul li a{
    cursor: pointer;
}

nav ul li a:hover{
    color: #89d1dc;
    border-bottom: 1.5px solid #4e281c;
    padding: 20px 0px;
}


/************************** FOOTER ******************************/


footer{
    background: url('../images/footer-body.png') no-repeat;
    color: #b3b3b3;
    height: 390px;
}

#footer_up{
    width: 100%;
    height: 52px;
}


/************************** MENU FOOTER ******************************/

#footer_menu{
    font-size: 13px;
    margin: auto;
    width: 973px;
}

#footer_menu ul{
    margin-left: 140px;
}

#footer_menu ul li{
    display: inline-block;
    padding: 0px 30px;
    vertical-align: top;
}

#footer_menu ul li a{
    cursor: pointer;
}

#footer_menu  ul li a:hover{
    color: #89d1dc;
}

/************************** FRASE ******************************/
#footer_text{
    margin: auto;
    width: 973px;
}

#footer_text article{
    float: right;
    font-size: 14px;
    margin-top: 65px;
    width: 50%;
}

#footer_text article span{
    float: right;
    margin-right: 34px;
    margin-top: 20px;
}

#footer_article{
    height: 155px;
    width: 100%;
}

#footer_info{
    margin-top: 60px;
    text-align: center;
}

#footer_info p{
    font-size: 12px;
    margin: 0;
}



/************************** WRAPPER ******************************/


#wrapper{

}

.content{
    background: linear-gradient(to bottom, #e4e7e8 0%, #f0f0f0 50%,#e4e7e8 100%); /* W3C */
    border-bottom: 1px solid white;
}

.content section{
    margin: auto;

    padding: 20px 0px;
    width: 973px;
}

/************************************ SLIDER ***************************************/


#slider{
    display: inline-block;
    margin-top: -60px;
}
#slider img{
    display: none;
    height: 100%;
    width: 100%;
    /*animation-name: move;
    animation-duration: 3s;
}

@keyframes move {
    0% {  margin-left: 100%;
        width: 300%}
    100% {   margin-left: 0;
        width: 100%}*/
}


.slider{
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    left: 15px;
    margin: 0px 8px;
    position: relative;
    padding: 0px 5px;
}
.sliderValid{
    border-bottom: 2px solid #4e281c;
}


#reel{
    float: right;
    margin-right: -62px;
    position: relative;
    top: -22px;
    z-index: 10;
}


.title_slider{
    margin-top: 0;
}

#title_slider img {
    display: none;

}

/********************************* CONTENIDO DE TRABAJOS HECHOS ********************************/

.content_all_work{
    height: 410px;
}

#content_works figure{
    left: 4px;
    margin: 0;
    position: relative;
    width: 100%;
}


.content_line{
    counter-reset: #48231b;
    height: 40px;
    width: 100%;
}

.content_line1{
    border-top: 1px dotted black;
    height: 5px;
    margin: auto;
    width: 90%;
}

.content_line2{
    border-top: 1px dotted black;
    height: 5px;
    margin: auto;
    width: 70%;
}

.works_zebra figure img{
    margin-left: -4px;
    margin-top: -5px;
}

.works_zebra_hover{
    position: relative;
    top: -401px;
}

.works_zebra_hover figure div{
    background: rgba(122, 97, 92, 0);
    color: rgba(122, 97, 92, 0);
    cursor: pointer;
    display: inline-block;
    height: 188px;
    text-align: center;
}

.works_zebra_hover figure div:hover{
   /* -webkit-animation-name: flipInY;
    animation-name: flipInY;
    animation-duration: 3s;*/
    background: rgba(122, 97, 92, 0.63);
    color: white;
}

.works_zebra_hover figure div p{
    position: relative;
    top: 74px;
}

.hover_figure_one{
    left: -4px;
    margin-right: -4px;
    margin-top: -5px;
    position: relative;
    top: -15px;
    width: 562px;
}

.hover_figure_two{
    left: -4px;
    margin-right: -4px;
    margin-top: -5px;
    position: relative;
    top: -37px;
    width: 407px;

}


.hover_figure_three{
    left: -4px;
    margin-right: -4px;
    position: relative;
    top: -59px;
    width: 281px;
}

.hover_figure_four{
    left: -4px;
    margin-right: -4px;
    position: relative;
    top: -59px;
    width: 281px;
}

.hover_figure_five{
    left: -4px;
    margin-right: -4px;
    position: relative;
    top: -37px;
    width: 407px;
}

/*********************************** Animaciones *********************************/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        transform: perspective(400px) rotateY(10deg);
    }
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
.flipInY {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
    animation-name: flipInY;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        background: red;
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes bounceOutLeft {
    0% {
        -webkit-transform: translateX(0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
}
@keyframes bounceOutLeft {
    0% {
        transform: translateX(0);
    }
    20% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 0;
        transform: translateX(-2000px);
    }
}
.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-520px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}











































