/*********
*drawde*
**********/

body, html{
    color: #444444;
    background: rgb(228, 231, 232);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

/************************** HEADER ******************************/

.panel_up{
    background: #48251a;
    border-top: 1px dashed white;
    height: 4px;
    width: 100%;
}

header{
    background: -moz-linear-gradient(top, #dbe0e2 0%, #e7e9ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbe0e2), color-stop(100%,#e7e9ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dbe0e2 0%,#e7e9ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dbe0e2 0%,#e7e9ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dbe0e2 0%,#e7e9ea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dbe0e2 0%, #e7e9ea 100%); /* W3C */
    border-bottom: 1px solid white;
    height: 165px;
    width: 100%;
}

#header_all{
    margin: auto;
    width: 973px;
}

/************************** SOCIAL E IDIOMA ******************************/

#header_social{
    height: 20px;
    margin: 0;
}

.header_phrase{
    display: inline-block;
    vertical-align: top;
}

#idioma ul{
    margin-left: -6px;
}

#idioma ul li{
    display: inline-block;
    margin-right: 15px;
}


#idioma ul li a{
    cursor: pointer;
    padding: 0 6px 0px 6px;
}

#idioma ul li a:hover{
    border-bottom: 2px solid;
}

#social{
    float: right;
    margin-top: 6px;
}

/************************** LOGO ******************************/

.logo{
    height: 94px;
    margin: auto auto 20px;
    width: 210px;
}

.logo img{
    height: 100%;
    width: 100%;
}

/************************** MENU ******************************/

nav{
    margin: auto;
}

nav ul{

}

nav ul li{
    display: inline-block;
    margin: 0px 39px;
    vertical-align: top;
}

nav ul li a{
    cursor: pointer;
    color:rgb(83, 83, 83);
    text-decoration: none;
}

nav ul li a:hover{
    color: #89d1dc;
    border-bottom: 1.5px solid #4e281c;
    padding: 20px 0px;
}


/************************** FOOTER ******************************/


footer{
    background: url('../images/footer-body.png') no-repeat;
    color: #b3b3b3;
    height: 390px;
}

#footer_up{
    width: 100%;
    height: 52px;
}


/************************** MENU FOOTER ******************************/

#footer_menu{
    font-size: 13px;
    margin: auto;
    width: 973px;
}

#footer_menu ul{
    margin-left: 140px;
}

#footer_menu ul li{
    display: inline-block;
    padding: 0px 30px;
    vertical-align: top;
}

#footer_menu ul li a{
    cursor: pointer;
    color:#acacac;
    text-decoration: none;
}

#footer_menu  ul li a:hover{
    color: #89d1dc;
}

/************************** FRASE ******************************/
#footer_text{
    margin: auto;
    width: 973px;
}

#footer_text article{
    float: right;
    font-size: 14px;
    margin-top: 65px;
    width: 50%;
}

#footer_text article span{
    float: right;
    margin-right: 34px;
    margin-top: 20px;
}

#footer_article{
    height: 155px;
    width: 100%;
}

#footer_info{
    margin-top: 60px;
    text-align: center;
}

#footer_info p{
    font-size: 12px;
    margin: 0;
}



/************************** WRAPPER ******************************/


#wrapper{

}

.content{
    background: linear-gradient(to bottom, #e4e7e8 0%, #f0f0f0 50%,#e4e7e8 100%); /* W3C */
    border-bottom: 1px solid white;
}

.content section{
    margin: auto;

    padding: 20px 0px;
    width: 973px;
}

/************************************ SLIDER ***************************************/


#slider{
    display: inline-block;
    margin-top: -60px;
}
#slider img{
    display: none;
    height: 100%;
    width: 100%;
}


.slider{
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    left: 15px;
    margin: 0px 8px;
    position: relative;
    padding: 0px 5px;
}
.sliderValid{
    border-bottom: 2px solid #4e281c;
}


#reel{
    float: right;
    margin-right: -62px;
    position: relative;
    top: -22px;
    z-index: 10;
}


.title_slider{
    margin-top: 0;
}

#title_slider img {
    display: none;

}

/********************************* CONTENIDO DE TRABAJOS HECHOS ********************************/

.content_all_work{
    height: 410px;
}

.work_figure{
    left: 4px;
    margin: 0;
    position: relative;
    width: 100%;
}


.content_line{
    counter-reset: #48231b;
    height: 40px;
    width: 100%;
}

.content_line1{
    border-top: 1px dotted black;
    height: 5px;
    margin: auto;
    width: 90%;
}

.content_line2{
    border-top: 1px dotted black;
    height: 5px;
    margin: auto;
    width: 70%;
}

.works_zebra figure img{
    margin-left: -4px;
    margin-top: -5px;
}

.works_zebra_hover{
    overflow: hidden;
    position: relative;
    top: -401px;
}

.works_zebra_hover figure div{
    background: rgba(122, 97, 92, 0);
    color: rgba(122, 97, 92, 0);
    cursor: pointer;
    display: inline-block;
    height: 188px;
    text-align: center;
}

.works_zebra_hover figure div:hover{
    background: rgba(122, 97, 92, 0.93);
    color: white;
}

/**
*
*Animaciones
*
**/
.hover_figure_one:hover{
    -webkit-animation-name: moveRight;
    animation-name: moveRight;
    animation-duration: 2s;
}

.hover_figure_two:hover{
    -webkit-animation-name: moveLeft;
    animation-name: moveLeft;
    animation-duration: 2s;
}

.hover_figure_three:hover{
    -webkit-animation-name: moveRight;
    animation-name: moveRight;
    animation-duration: 2s;
}

.hover_figure_four:hover{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 2s;
}

.hover_figure_five:hover{
    -webkit-animation-name: moveLeft;
    animation-name: moveLeft;
    animation-duration: 2s;
}


/**
*
* End Animaciones
*
**/

.works_zebra_hover figure div p{
    position: relative;
    top: 74px;
}

.hover_figure_one{
    left: -4px;
    margin-right: -4px;
    margin-top: -5px;
    position: relative;
    top: -15px;
    width: 562px;
}

.hover_figure_two{
    left: -4px;
    margin-right: -4px;
    margin-top: -5px;
    position: relative;
    top: -37px;
    width: 407px;

}


.hover_figure_three{
    left: -4px;
    margin-right: -4px;
    position: relative;
    top: -59px;
    width: 281px;
}

.hover_figure_four{
    left: -4px;
    margin-right: -4px;
    position: relative;
    top: -59px;
    width: 281px;
}

.hover_figure_five{
    left: -4px;
    margin-right: -4px;
    position: relative;
    top: -37px;
    width: 407px;
}


/*********************************** Animaciones *********************************/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        transform: perspective(400px) rotateY(10deg);
    }
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
.flipInY {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
    animation-name: flipInY;
}

@-webkit-keyframes moveRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px)
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.moveRight {
    -webkit-animation-name: moveRight;
    animation-name: moveRight;
}


@-webkit-keyframes moveLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(30%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px)
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.moveRight {
    -webkit-animation-name: moveLeft;
    animation-name: moveLeft;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes pop_up_screen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pop_up_screen {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@-webkit-keyframes bounceOutLeft {
    0% {
        -webkit-transform: translateX(0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
}
@keyframes bounceOutLeft {
    0% {
        transform: translateX(0);
    }
    20% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 0;
        transform: translateX(-2000px);
    }
}
.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-520px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

/*******************************************************
******************** CLIENTES **************************
*******************************************************/

.content_clientes{
    display: inline-block;
    height: 140px;
    margin: 0;
    text-align: center;
    vertical-align: top;
    width: 24%;
}

.content_clientes img{
    -webkit-filter: grayscale(100%);
    cursor: progress;
}

.content_clientes img:hover{
    -webkit-filter: grayscale(0%);
}

.selected_page{
    text-align: right;
}

.selected_page p{
    color: rgb(83, 83, 83);
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
    text-align: center;
    width: 20px;
}

.border-p{
    border-bottom: 2px solid;
}


/*******************************************************
******************** CONTACTENOS ***********************
*******************************************************/

h2{
    text-align: center;
}


/********************************************************
******************** PORTAFOLIO *************************
********************************************************/

.nav_portafolio{
    height: 60px;
}

.nav_portafolio ul li{
    margin: 0 18px;
}

.content_portafolio figure{
    color: #4e281c;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    width: 48%;
    text-align: end;
}

.portafolio_pop_up{
    -webkit-animation-name: pop_up_screen;
    animation-name: pop_up_screen;
    animation-duration: 0.5s;
    background-color: rgba(67, 67, 67, 0.91);
    height: 100%;
    left: 0;
    overflow: scroll;
    position: fixed;
    width: 100%;
    top: 0;
}

.content_pop_up{
    background: #e4e7e9 url("../images/portafolio/portafolio1/fondo.png") no-repeat 81px 75px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up1{
    background: #e4e7e9 url("../images/portafolio/portafolio2/fondo.png") no-repeat 2px 2px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up2{
    background: #e4e7e9 url("../images/portafolio/portafolio3/fondo.png") no-repeat 80px 140px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up3{
    background: #e4e7e9 url("../images/portafolio/portafolio4/fondo.png") no-repeat -2px 112px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up4{
    background: #e4e7e9 url("../images/portafolio/portafolio5/fondo.png") no-repeat -2px 20px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up5{
    background: #e4e7e9 url("../images/portafolio/portafolio6/fondo.png") no-repeat 0px 150px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up6{
    background: #e4e7e9 url("../images/portafolio/portafolio7/fondo.png") no-repeat 0px 50px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up7{
    background: #e4e7e9 url("../images/portafolio/portafolio8/fondo.png") no-repeat -35px 68px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up8{
    background: #e4e7e9 url("../images/portafolio/portafolio9/fondo.png") no-repeat -7px 131px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up9{
    background: #e4e7e9 url("../images/portafolio/portafolio10/fondo.png") no-repeat -22px 56px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up10{
    background: #e4e7e9 url("../images/portafolio/portafolio11/fondo.png") no-repeat -5px 93px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up11{
    background: #e4e7e9 url("../images/portafolio/portafolio12/fondo.png") no-repeat -32px 146px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up12{
    background: #e4e7e9 url("../images/portafolio/portafolio13/fondo.png") no-repeat 2px 435px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up13{
    background: #e4e7e9 url("../images/portafolio/portafolio14/fondo.png") no-repeat 16px 99px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up14{
    background: #e4e7e9 url("../images/portafolio/portafolio15/fondo.png") no-repeat -68px 83px;
    height:480px;
    margin: 100px auto !important;
    width:913px !important;
}

.content_pop_up .figure_one{
    left: -79px;
    position: relative;
    top: -18px;
}

.figure_one1{
    left: -79px;
    position: relative;
    top: -18px;
}

.figure_one span{
    color: #5CC1CF;
    cursor: pointer;
    float: right;
    font-weight: bold;
    left: 105px;
    position: relative;
    top: -10px;
}

.figure_one1 span{
    color: #5CC1CF;
    cursor: pointer;
    float: right;
    font-weight: bold;
    left: 105px;
    position: relative;
    top: -10px;
}

.figure_one a{
    color: #683E2E;
    float: right;
    left: 121px;
    position: relative;
    top: 30px;
    text-decoration: none;
}

.figure_one1 a{
    color: #683E2E;
    float: right;
    left: 121px;
    position: relative;
    top: 30px;
    text-decoration: none;
}

.mac{
    left: 223px;
    position: relative;
    top: -67px;
}

.screen{
    -webkit-animation-name: pop_up_screen;
    animation-name: pop_up_screen;
    animation-duration: 1s;
    left: 260px;
    position: relative;
    top: -917px;

}

.brillo{
    left: 625px;
    position: relative;
    top: -612px;
    z-index: 2;
}

.portafolio_pop_up_numeros{
    left: 740px;
    position: relative;
    top: -850px;
    color: white;
}

.portafolio_pop_up_numeros p{
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    margin: 15px 9px;
}


















